<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">

        <% @posts.each do |post| %>
        <h2 class="post-preview">
          <%= link_to post.title, post %>
        </h2>
        <h3 class="post-subtitle">
          <%= post.subtitle %>
        </h3>
        <p class="post-meta">Posted on <%=Date.new%></p>
        <% end %>
        <br>
      </div>
    </div>
  </div>
  <hr>
</div>
