<%= render 'layouts/nav2' %>
<header class="intro-header" style="background-image: url('/assets/new_background.jpeg'); box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Write something beautiful</h1>
                        <hr class="small">
                        <span class="subheading">A space to curate your thoughts.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<%= render 'form' %>

<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
